@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');

* {
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar { 
    display: none;
}

:root {
    --color-primary:                    #0c0c0c;
    --color-secondary:                  #ffffff;
    --color-contrast:                   #181818;
    --color-text:                       #ffffff;
    --color-text-alt:                   #000000;
    --color-text-unselected:            #d6d6d6;
    --color-nav-border:                 #383838;
    --color-background:                 #161616;
    --color-background-container:       #d6d6d6;
    --color-background-container-alt:   #a8a8a8;
}


/* Media query*/
@media screen and (max-width: 1080px) {
    /* Show hamburger */
    .nav-large-screen {
        display: none;
    }

    .nav-hamburger {
        display: flex;
    }

    /* Change logo */
    .container-first {
        background: linear-gradient(90deg, var(--color-background) 0%, transparent 100%), url("../assets/logo/org/bizarre_engine_2_logo.svg");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: calc(20dvw + 80%) 12.5dvh;
    }
    
    .nav-main-img {
        width: 192px;
    }
    
    /* Container */
    .container-first-title {
        font-size: 30px;
    }
    
    .container-first-img {
        width: 280px;
        height: auto;
        margin: 8px 12px;
        padding: 8px;
    }
    
    .container-first-img-down img {
        width: 96px;
        margin: 30px 0px;
    }
    
    /* Items */
    .item-container-hide-on-mobile {
        display: none;
    }

    .item-container {
        width: 180px;
        min-height: 180px;
        margin: 5px;
    }

    .item-container-title {
        font-size: 16px;
    }

    .item-container-img {
        width: 64px;
        height: auto;
    }

    .item-container-content {
        font-size: 11px;
        width: 160px;
    }

    .item-button {
        font-size: 12px;
        margin: 10px;
        padding: 4px 8px;
    }
    
    .item-button img {
        width: 16px;
    }

    /* 404 */
    .container-404 {
        background: transparent;
    }
    
    .container-404-title {
        font-size: 80px;
    }
    
    .container-404-button {
        margin: 64px 16px 16px;
    }
}

@media screen and (min-width: 1080px) {
    /* Hide hamburger */
    .nav-large-screen {
        display: flex;
    }

    .nav-hamburger {
        display: none;
    }

    /* Change logo */
    .container-first {
        background: linear-gradient(90deg, var(--color-background) 0%, transparent 100%), url("../assets/logo/org/bizarre_engine_2_logo.svg");
        background-repeat: no-repeat;
        background-size: 512px;
        background-position: calc(5dvw + 95%) 10dvh;
    }

    .nav-main-img {
        width: 256px;
    }
    
    /* Container */
    .container-first-title {
        font-size: 40px;
    }

    .container-first-img {
        width: 512px;
        height: auto;
        margin: 8px 12px;
        padding: 8px;
    }
    
    .container-first-img-down img {
        width: 128px;
        margin: 0px;
    }
    
    /* Items */
    .item-container-hide-on-mobile {
        display: flex;
    }

    .item-container {
        width: 300px;
        min-height: 300px;
        margin: 10px;
    }

    .item-container-title {
        font-size: 22px;
    }

    .item-container-img {
        width: 96px;
        height: auto;
    }
    
    .item-container-content {
        font-size: 16px;
        width: 280px;
    }

    .item-button {
        font-size: 16px;
        margin: 16px;
        padding: 8px 16px;
    }
    
    .item-button img {
        width: 24px;
    }
    
    /* 404 */
    .container-404 {
        background: linear-gradient(90deg, var(--color-background) 0%, transparent 100%), url("../assets/logo/org/bizarre_engine_2_logo.svg");
        background-position: calc(5dvw + 95%) 10dvh;
    }
    
    .container-404-title {
        font-size: 100px;
    }
    
    .container-404-button {
        margin: 96px 16px 16px;
    }
}


/* Keyframes */
@keyframes page-startup-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes page-startup-disapear {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes nav-button-side {
    from {
        opacity: 0;
        margin: 0;
    }
    to {
        opacity: 1;
        margin: 0px 16px;
    }
}

@keyframes nav-startup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nav-hamburger-tray-open {
    from {
        top: -500px;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes nav-hamburger-tray-close {
    from {
        top: 60px;
        opacity: 1;
    }
    to {
        top: -500px;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes home-startup {
    0% {
        text-shadow: 0px 0px 40px transparent;
    }
    50% {
        text-shadow: 0px 0px 20px var(--color-text-unselected);
    }
    100% {
        text-shadow: 0px 0px 40px transparent;
    }
}

@keyframes container-first-down {
    0% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
        -webkit-transform: translateY(05px);
        -moz-transform: translateY(05px);
        -ms-transform: translateY(05px);
        -o-transform: translateY(05px);
    }
    100% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}


/* Other */
.disable-scrolling {
    height: 100%;
    overflow: hidden;
}

.enable-scrolling {
    overflow: scroll;
}

/* Page Startup */
.page-startup {
    user-select: none;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.page-startup p {
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    margin: 0;
    padding: 40dvh 0 0;
}

.page-startup img {
    width: 256px;
    height: 256px;
    animation: page-startup-anim 2s infinite linear;
    -webkit-animation: page-startup-anim 2s infinite linear;
}

.page-startup-loaded {
    animation: page-startup-disapear 0.5s forwards linear;
    -webkit-animation: page-startup-disapear 0.5s forwards linear;
}


/* Nav */
.nav-main {
    display: flex;
    position: fixed; /* sticky */
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-primary);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: var(--color-contrast);
    border-bottom: 1px solid var(--color-nav-border);
}

.nav-main ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.nav-button {
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-unselected);
    padding: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-main-button-anim ul li a {
    animation: nav-button-side 0.5s forwards;
    -webkit-animation: nav-button-side 0.5s forwards;
}

.nav-button:hover {
    color: var(--color-text);
    text-shadow: 0px 0px 30px var(--color-text);
}

.nav-button-alt {
    align-content: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 8px;
    margin-right: 10px;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    animation: nav-startup 0.5s forwards;
    -webkit-animation: nav-startup 0.5s forwards;
}

.nav-button-alt:hover {
    color: var(--color-text-alt);
    background-color: var(--color-secondary);
}

.nav-button-alt img {
    width: 24px;
    height: auto;
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.nav-button-alt:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.nav-main-img {
    height: auto;
    margin: 8px;
    margin-right: 20px;
    margin-left: 16px;
    animation: nav-startup 0.5s forwards;
    -webkit-animation: nav-startup 0.5s forwards;
}

/* Hamburguer nav */
.nav-hamburger-tray {
    position: fixed;
    z-index: 98;
    width: 100%;
    user-select: none;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-nav-border);
    border-bottom: 1px solid var(--color-nav-border);
}

.nav-hamburger-tray ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
}

.nav-hamburger-tray ul li {
    float: left;
}

.nav-hamburger-option {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.nav-hamburger-button {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 0 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
}

.nav-hamburger-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.nav-hamburger-button:active {
    background-color: var(--color-text-unselected);
    color: var(--color-primary);
}

.nav-hamburger-button img {
    width: 32px;
    height: auto;
}

.nav-hamburger-button:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.nav-hamburger-button p {
    padding-left: 8px;
}


/* Body */
.body-main {
    margin: 60px 0px 0px;
    padding: 0;
    background-color: var(--color-background);
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}


/* blog */
.blog-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.blog-container {
    background-color: var(--color-contrast);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.blog-container-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-container-img {
    background-color: var(--color-primary);
    width: 256px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-secondary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.blog-container-date {
    color: var(--color-text-unselected);
    display: block;
    font-size: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 20px 10px 0px 10px;
    width: 300px;
}

.blog-container-title {
    color: var(--color-text);
    display: block;
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 10px;
    width: 300px;
}

.blog-container-content {
    color: var(--color-text);
    display: block;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0px 10px;
    width: 300px;
}

.blog-container-button {
    display: flex;
    justify-content: end;
}

.blog-button {
    display: flex;
    align-content: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    margin: 16px;
    padding: 8px 16px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.blog-button:hover {
    color: var(--color-text-alt);
    background-color: var(--color-secondary);
}

.blog-button img {
    width: 24px;
    height: auto;
    align-self: center;
    margin: 0px;
    margin-right: 6px;
    padding: 0px;
}

.blog-button:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}


/* item */
.item-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.item-container {
    height: auto;
    background-color: var(--color-contrast);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.item-container-hide-on-mobile {
    width: 300px;
    height: 300px;
    background-color: var(--color-contrast);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.item-container-img {
    background-color: var(--color-primary);
    margin: 10px;
    border-width: 1px;
    border-color: var(--color-secondary);
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item-container-title {
    color: var(--color-text);
    display: block;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
}

.item-container-content {
    color: var(--color-text);
    display: flex;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0px;
    height: 64px;
    align-items: center;
    justify-content: center;
}

.item-button {
    display: flex;
    align-content: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    margin-top: 0px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.item-button:hover {
    color: var(--color-text-alt);
    background-color: var(--color-secondary);
}

.item-button img {
    height: auto;
    align-self: center;
    margin: 0px;
    margin-right: 6px;
    padding: 0px;
}

.item-button:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}


/* first container */
.container-first {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 20dvh;
    padding-bottom: 30dvh;
}

.container-first-title {
    color: var(--color-text);
    margin: 8px 12px;
    padding: 8px 16px;
    letter-spacing: 1.5px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    align-self: flex-start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: home-startup 6s infinite;
    -webkit-animation: home-startup 6s infinite;
}

.container-first-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 24px;
}

.first-button {
    display: flex;
    align-content: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    margin: 8px;
    padding: 8px 8px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.first-button:hover {
    color: var(--color-text-alt);
    background-color: var(--color-secondary);
}

.first-button img {
    width: 24px;
    height: auto;
    align-self: center;
    margin: 0px;
    margin-right: 6px;
    padding: 0px;
}

.first-button:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.first-button-alt {
    display: flex;
    align-content: center;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    margin: 8px;
    padding: 8px 8px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.first-button-alt:hover {
    color: var(--color-primary);
    background-color: var(--color-text-unselected);
}
/*
.container-first-img-down {
    display: flex;
    position: absolute;
    top: 40dvh;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(-64px);
    -webkit-transform: translateX(-64px);
    -moz-transform: translateX(-64px);
    -ms-transform: translateX(-64px);
    -o-transform: translateX(-64px);
}*/

.container-first-img-down {
    display: flex;
    margin: 10dvh;
    padding: 0;
    justify-content: center;
}

.container-first-img-down img {
    height: auto;
    padding: 0;
    animation: container-first-down 3s infinite ease-in-out;
    -webkit-animation: container-first-down 3s infinite ease-in-out;
}


/* normal containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    margin: 0px 10px 60px;
    padding-bottom: 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-img {
    width: 320px;
    height: auto;
    align-self: center;
}

.container-title {
    color: var(--color-text);
    margin: 16px 24px;
    padding: 0px;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    align-self: flex-start;
}

.container-subtitle {
    color: var(--color-text);
    margin: 16px 40px;
    padding: 0px;
    font-size: 24px;
    letter-spacing: 0px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    align-self: flex-start;
}

.container-content {
    color: var(--color-text-unselected);
    margin: 0px;
    padding: 16px;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    align-self: flex-start;
}


/* footer */
.footer-container {
    position: static;
    user-select: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.footer-container-content {
    color: var(--color-text);
    margin: 16px 60px;
    padding: 0px;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.footer-logo {
    margin: 16px;
    width: 128px;
    height: auto;
}


/* 404 */
.container-404 {
    min-height: 70dvh;
    background-repeat: no-repeat;
    background-size: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    padding-bottom: 120px;
}

.container-404-img {
    width: 216px;
    height: auto;
}

.container-404-title {
    color: var(--color-text);
    margin: 8px 12px 40px;
    padding: 8px 12px;
    letter-spacing: 4px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: home-startup 6s infinite;
    -webkit-animation: home-startup 6s infinite;
}

.container-404-subtitle {
    color: var(--color-text);
    font-size: 30px;
    margin: 12px;
    padding: 8px 12px;
    letter-spacing: 2px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-404-button {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 8px 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
}

.container-404-button:hover {
    color: var(--color-text-alt);
    background-color: var(--color-secondary);
}